volumes:
  pg_data:

services:
  db:
    image: docker.io/library/postgres:13
    env_file: local.env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  backend:
    build: .
    env_file: local.env
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis